<div class="row">
  <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="field-inner">
      <input type="text" name="Name" id="Name" value="" placeholder="Nombre" required="">
    </div>
  </div>
  <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="field-inner">
      <input type="text" id="Lastname" name="Lastname" value="" placeholder="Apellido" required="">
    </div>
  </div>
  <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="field-inner">
      <input type="tel" id="PhoneNumber" maxlength="10" pattern="[0-9]{10}" name="PhoneNumber" value=""
        placeholder="Teléfono (10 dígitos)" required="">
    </div>
  </div>
  <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="field-inner">
      <input type="email" id="Email" name="Email" value="" placeholder="Email" required="">
    </div>
  </div>
  <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="field-inner">
      <textarea name="Comments" id="Comments" placeholder="Comentarios" required=""></textarea>
    </div>
  </div>
</div>