@section metaSEO {
    <title>Galería - @ViewBag.nameAgency</title>
    <meta name="description" content="AME Viajar visualiza todos las fotos de nuestros mejores tours y experiencias que tenemos para ofrecerte a para ti aqui mismo">
    <meta name="keywords" content="Galería">
}


<section class="page-header">
  <div class="page-header__bg" style="background-image: url(/assets/images/imagenespedrito/galeria.webp);"></div>
  <div class="container">
    <h2 class="page-header__title">Galería</h2>
  </div>
</section>

<!-- Gallery Page Start -->
<div class="gallery-page section-space">
  <div class="container">
    <div class="row">

    @foreach(var imagen in ViewBag.imagenes){
      <div class="col-xl-4 col-lg-4 col-sm-6">
        <div class="gallery-single">
          <div class="gallery-single__img-box">
            <img alt="Imagen de la galeria" src="@(ViewBag.urlImage)@(imagen.imageThumbnail)" class="gallery-single__img">
            <div class="gallery-single__overlay">
              <a href="@(ViewBag.urlImage)@(imagen.image)" class="gallery-single__btn trevlo-btn trevlo-btn--base-three img-popup"><span class="icon-plus"></span></a>
            </div><!-- /.gallery-single__overlay -->
          </div><!-- /.gallery-single__img-box -->
        </div><!-- /.gallery-single -->
      </div><!-- /.col-xl-4 col-lg-4 col-sm-6 -->
    }

    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.gallery-page -->
<!-- Gallery Page End -->