@section metaSEO {
  <title>Gracias - @ViewBag.nameAgency</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
}

<section class="page-header" style="padding: 68px 0 115px">
  <div class="page-header__bg" style="background-image: url(/assets/images/imagenespedrito/contacto.webp);"></div>
</section>

<!-- Gallery Page Start -->
<div class="gallery-page section-space">
  <div class="container">
    <div class="row">


      <div class="col-12 mt-0 text-center">
        <h3 class="black bold front mb-2">Gracias, su email a sido enviado</h3>
        <p>En breve, un representante de <b>@ViewBag.nameAgency</b> te contactará</p>
      </div>


    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.gallery-page -->
<!-- Gallery Page End -->
