@section metaSEO {
    <title>Nosotros - @ViewBag.nameAgency</title>
    <meta name="description" content="¿Quienes somos? aqui te cuento todo acerca de nosotros AME Viajar tu agencia de viajes para conocer diversos lugares del mundo.">
    <meta name="keywords" content="Nosotros, Agencia de Viajes, A Cerca De, AME Viajar, Somos, Desde, Experiencias, Tours">
}


<section class="page-header">
  <div class="page-header__bg" style="background-image: url(/assets/images/imagenespedrito/nosotros.webp);"></div>
  <!-- /.page-header__bg -->
  <div class="container">
    <h2 class="page-header__title">Sobre nosotros</h2>
  </div><!-- /.container -->
</section><!-- /.page-header -->

<!-- About Four Start -->
<section class="about-four section-space-top">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 about-four__img-column wow animated fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1500ms">
        <div class="about-four__img-box">
          <div class="about-four__inner-img-box-one">
            <img src="assets/images/about/about-4-1.jpg" alt="Imagen de nosotros principal 1" class="about-four__img-one">
            <img src="assets/images/shapes/about-shape-4-1.png" alt="Figura de nosotros principal 1" class="about-four__shape-one">
          </div><!-- /.about-four__inner-img-box-one -->
          <div class="about-four__inner-img-box-one">
            <img src="assets/images/about/about-4-1.jpg" alt="Imagen de nosotros principal 2" class="about-four__img-one">
          </div><!-- /.about-four__inner-img-box-one -->
        </div><!-- /.about-four__img-box -->
      </div><!-- /.col-xl-6 col-lg-6 -->
      <div class="col-xl-6 col-lg-6 about-four__content-column">
        <div class="about-four__content">
          <div class="sec-title text-left">

            <!-- <p class="sec-title__tagline">GET TO KNOW US</p> -->

            <h2 class="sec-title__title">Experimenta el mundo con Ame Viajar</h2><!-- /.sec-title__title -->
          </div><!-- /.sec-title --><!-- /.sec-title -->
          <p class="about-four__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some</p>
          <div class="about-four__service mb-5">
            <div class="about-four__service-box wow animated fadeInUp" data-wow-delay="0s" data-wow-duration="1500ms">
              <div class="about-four__service-icon">
                <span class="icon-safety"></span>
              </div><!-- /.about-four__service-icon -->
              <div class="about-four__service-content">
                <h4 class="about-four__service-title">Seguridad primero</h4>
              </div><!-- /.about-four__service-content -->
            </div><!-- /.about-four__service-box -->
            <div class="about-four__service-box wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
              <div class="about-four__service-icon">
                <span class="icon-friendly-Guide"></span>
              </div><!-- /.about-four__service-icon -->
              <div class="about-four__service-content">
                <h4 class="about-four__service-title">Tours <br> amigables</h4>
              </div><!-- /.about-four__service-content -->
            </div><!-- /.about-four__service-box -->
          </div><!-- /.about-four__service -->
          <div class="about-four__btn-box wow animated fadeInUp" data-wow-delay="0s" data-wow-duration="1500ms">
            <a href="/contacto" class="about-four__btn trevlo-btn"><span>Contáctanos</span></a>
          </div><!-- /.about-four__btn-box -->
        </div><!-- /.about-four__content -->
      </div><!-- /.col-xl-6 col-lg-6 -->
    </div><!-- /.row -->
  </div>
</section>
<!-- About Four End -->


<!-- Testimonial One End -->
<!-- Why Choose Two Start -->
<section class="why-choose-two" style="background-color: var(--trevlo-white2, #FAF5EE); overflow: hidden;">
<div class="testimonial-one__bg trevlo-splax" style="background-image: url(assets/images/backgrounds/tetsimonial-1-bg.png);" data-para-options='{
        "orientation": "down",
        "scale": 1.5,
        "delay": ".3",
        "transition": "cubic-bezier(0,0,0,1)",
        "overflow": true
        }'>
  </div><!-- /.testimonial-one__bg -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-6 wow fadeInLeft" data-wow-delay="200ms">
        <div class="why-choose-two__content">
          <div class="sec-title text-left">

            <h2 class="sec-title__title">Elije tus experiencias y disfruta</h2><!-- /.sec-title__title -->
          </div><!-- /.sec-title -->
          <p class="why-choose-two__text">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteradution in some
            form by injected humour, some form
          </p>
          
          <a href="/experiencias" class="trevlo-btn trevlo-btn--base"><span>Ver experiencias</span></a>
        </div><!-- /.why-choose-two__content -->
      </div><!-- /.col-lg-6 col-xl-6 -->
      <div class="col-lg-6 col-xl-6">
        <div class="why-choose-two__img">
          <div class="why-choose-two__img__one wow fadeInUp" data-wow-delay="200ms">
            <div class="trevlo-tilt" data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 7, "speed": 700, "scale": 1 }'>
              <img alt="Imagen de nosotros 1" src="https://picsum.photos/270/341">
            </div>
            <div class="trevlo-tilt" data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 7, "speed": 700, "scale": 1 }'>
              <img alt="Imagen de nosotros 2" src="https://picsum.photos/271/217">
            </div>
          </div><!-- /.why-choose-two__img__one -->
          <div class="why-choose-two__img__two wow fadeInUp" data-wow-delay="300ms">
            <div class="trevlo-tilt" data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 7, "speed": 700, "scale": 1 }'>
              <img alt="Imagen de nosotros 3" src="https://picsum.photos/270/309">
            </div>
            <div class="trevlo-tilt" data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 7, "speed": 700, "scale": 1 }'>
              <img alt="Imagen de nosotros 4" src="https://picsum.photos/270/168">
            </div>
          </div><!-- /.why-choose-two__img__two -->
        </div><!-- /.why-choose-two__img-box -->
      </div><!-- /.col-lg-6 col-xl-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
<!-- Why Choose Two End -->

<!-- Counter One Start -->
<section class="counter-one">
  <div class="counter-one__main-content mt-5">
    <div class="container">
      <div class="counter-one__container container-fluid">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-6">
            <div class="counter-box @@extraClassName">
              <div class="counter-box__icon">
                <span class="icon-happy-Travel"></span>
              </div><!-- /.counter-box__icon -->
              <div class="counter-box__inner sec-title count-box">
                <h3 class="counter-box__count-text counter-box__count-text--one sec-title__heading count-text" data-stop="30.3" data-speed="1500">00</h3>
                <h3 class="counter-box__count-text sec-title__heading">k</h3>
              </div><!-- /.counter-box__inner -->
              <p class="counter-box__title">Happy Traveller</p>
            </div>
          </div><!-- /.col-xl-3 col-lg-3 col-6 -->
          <div class="col-xl-3 col-lg-3 col-6 wow animated fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
            <div class="counter-box @@extraClassName">
              <div class="counter-box__icon">
                <span class="icon-tent-1"></span>
              </div><!-- /.counter-box__icon -->
              <div class="counter-box__inner sec-title count-box">
                <h3 class="counter-box__count-text counter-box__count-text--one sec-title__heading count-text" data-stop="40.5" data-speed="1500">00</h3>
                <h3 class="counter-box__count-text sec-title__heading">k</h3>
              </div><!-- /.counter-box__inner -->
              <p class="counter-box__title">Tent Sites</p>
            </div>
          </div><!-- /.col-xl-3 col-lg-3 col-6 -->
          <div class="col-xl-3 col-lg-3 col-6 wow animated fadeInUp" data-wow-delay="0.5s" data-wow-duration="1500ms">
            <div class="counter-box @@extraClassName">
              <div class="counter-box__icon">
                <span class="icon-satisfied"></span>
              </div><!-- /.counter-box__icon -->
              <div class="counter-box__inner sec-title count-box">
                <h3 class="counter-box__count-text counter-box__count-text--one sec-title__heading count-text" data-stop="88.9" data-speed="1500">00</h3>
                <h3 class="counter-box__count-text sec-title__heading">%</h3>
              </div><!-- /.counter-box__inner -->
              <p class="counter-box__title">Satisfaction Rate</p>
            </div>
          </div><!-- /.col-xl-3 col-lg-3 col-6 -->
          <div class="col-xl-3 col-lg-3 col-6 wow animated fadeInUp" data-wow-delay="0.7s" data-wow-duration="1500ms">
            <div class="counter-box counter-box--no-border">
              <div class="counter-box__icon">
                <span class="icon-online-chat-1"></span>
              </div><!-- /.counter-box__icon -->
              <div class="counter-box__inner sec-title count-box">
                <h3 class="counter-box__count-text counter-box__count-text--one sec-title__heading count-text" data-stop="6.30" data-speed="1500">00</h3>
                <h3 class="counter-box__count-text sec-title__heading">+</h3>
              </div><!-- /.counter-box__inner -->
              <p class="counter-box__title">Year Of Service</p>
            </div>
          </div><!-- /.col-xl-3 col-lg-3 col-6 -->
        </div><!-- /.row -->
      </div><!-- /.counter-one__container container-fluid -->
    </div><!-- /.container -->
  </div><!-- /.counter-one__main-content -->
</section>
<!-- Counter One End -->

<!-- Guide One Start -->
<section class="guide-one section-space-bottom">
  <div class="container">
    <div class="sec-title text-center">

      <p class="sec-title__tagline">Nuestro equipo</p><!-- /.sec-title__tagline -->

      <h2 class="sec-title__title">Conoce a nuestro equipo</h2><!-- /.sec-title__title -->
    </div><!-- /.sec-title --><!-- /.sec-title -->
    <div class="guide-one__carousel trevlo-owl__carousel trevlo-owl__carousel--basic-nav owl-theme owl-carousel" data-owl-options='{
            "items": 3,
            "margin": 30,
            "smartSpeed": 700,
            "loop":false,
            "autoplay": 6000,
            "nav":false,
            "dots":true,
            "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
            "responsive":{
                "0":{
                    "items": 1
                },
                "768":{
                    "items": 2
                },
                "992":{
                    "items": 3
                }
            }
            }'>
      <div class="guide-one__carousel-item item">
        <div class="guide-single">
          <div class="guide-single__image-box">
            <img alt="Imagen de nosotros 5" src="https://fastly.picsum.photos/id/871/370/437.jpg?hmac=fKSS-vwKsg2veVeYs2GPxGashj0inKDIqy0w5yfRsFw" class="guide-single__image">
          </div><!-- /.guide-single__image-box -->
          <div class="guide-single__info">
            <h4 class="guide-single__name">Nombre1 Apellido2</h4>
            <p class="guide-single__title">CEO</p>
            <div class="guide-single__social-box">
              <a href="javascript:void(0);" class="guide-single__share-btn"><span class="fas fa-share-alt"></span></a>
              <ul class="guide-single__social list-unstyled">
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-instagram"></span></a></li>
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-twitter"></span></a></li>
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-facebook-f"></span></a></li>
              </ul><!-- /.guide-single__social -->
            </div><!-- /.guide-single__social-box -->
          </div><!-- /.guide-single__info -->
        </div><!-- /.guide-single -->
      </div><!-- /.guide-one__carousel-item item -->
      <div class="guide-one__carousel-item item">
        <div class="guide-single">
          <div class="guide-single__image-box">
            <img alt="Imagen de nosotros 6" src="https://fastly.picsum.photos/id/871/370/437.jpg?hmac=fKSS-vwKsg2veVeYs2GPxGashj0inKDIqy0w5yfRsFw" class="guide-single__image">
          </div><!-- /.guide-single__image-box -->
          <div class="guide-single__info">
            <h4 class="guide-single__name">Nombre1 Apellido2</h4>
            <p class="guide-single__title">CEO</p>
            <div class="guide-single__social-box">
              <a href="javascript:void(0);" class="guide-single__share-btn"><span class="fas fa-share-alt"></span></a>
              <ul class="guide-single__social list-unstyled">
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-instagram"></span></a></li>
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-twitter"></span></a></li>
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-facebook-f"></span></a></li>
              </ul><!-- /.guide-single__social -->
            </div><!-- /.guide-single__social-box -->
          </div><!-- /.guide-single__info -->
        </div><!-- /.guide-single -->
      </div><!-- /.guide-one__carousel-item item -->
      <div class="guide-one__carousel-item item">
        <div class="guide-single">
          <div class="guide-single__image-box">
            <img alt="Imagen de nosotros 7" src="https://fastly.picsum.photos/id/871/370/437.jpg?hmac=fKSS-vwKsg2veVeYs2GPxGashj0inKDIqy0w5yfRsFw" class="guide-single__image">
          </div><!-- /.guide-single__image-box -->
          <div class="guide-single__info">
            <h4 class="guide-single__name">Nombre1 Apellido2</h4>
            <p class="guide-single__title">CEO</p>
            <div class="guide-single__social-box">
              <a href="javascript:void(0);" class="guide-single__share-btn"><span class="fas fa-share-alt"></span></a>
              <ul class="guide-single__social list-unstyled">
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-instagram"></span></a></li>
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-twitter"></span></a></li>
                <li><a href="https://www.linkedin.com/in/leonsolispedro/"><span class="fab fa-facebook-f"></span></a></li>
              </ul><!-- /.guide-single__social -->
            </div><!-- /.guide-single__social-box -->
          </div><!-- /.guide-single__info -->
        </div><!-- /.guide-single -->
      </div><!-- /.guide-one__carousel-item item -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
<!-- Guide One End -->